header {
	display: none;
}

body {
	background-color: #EB594C;
}

#active_menu span {
	background: white;
}

.menutopbar{
	background-color: #EB594C;
}

.topbar {
	color: white;
}

.githubbutton {
	color: white;
	border: 2px white solid;
}

#frame {
	background-color: white;
	margin: 0;
	position: relative;
	text-align: center;
}

img {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    width: 60%;
}

.content {
	width: 100%;
	margin:auto;
	/*margin-top: 20px;*/
}

.list {
	width: 60%;
	text-align: left;
}

span {
	display: inline-block;
}

a {
	color: #EB594C
	display: inline-block;
}



