header {
	display: none;
}

body {
	background-color: #EB594C;
}

#active_menu span {
	background: white;
}

.menutopbar{
	background-color: #EB594C;
}

.topbar {
	color: white;
}

.githubbutton {
	color: white;
	border: 2px white solid;
}

#frame {
	background-color: white;
	margin: 0;
	position: relative;
	text-align: center;
}

img {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    width: 60%;
}

.content {
	width: 60%;
	margin:auto;
	/*margin-top: 20px;*/
}


.animatable {
	background: url('images/animatable.svg') center no-repeat;
}

.envato {
	background: url('images/envato.png') center no-repeat;
}

.solar_system {
	background: url('images/solar_system.png') center no-repeat;
}

.border {
	background: url('images/border.svg') center no-repeat;
}

.rachel_cope {
	background: url('images/robots.png') center no-repeat;
}

.cubic_bezier {
	background: url('images/cubic_bezier.svg') center no-repeat;
}

.content_card {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 300px;
	padding-top: .5em;
}

.card_maxi {
	width: 60%;
	height: 100%;
	background-color: white;
}

.card_mini {
	width: 39%;
	height: 100%;
	background-color: white;
}

.card_bg {
	height:50%;
}

.card_title {
	height:25%;
}

.card_btn {
	height: 25%;
}

.card_btn a {
	color: white;
	background-color: #EB594C;
	border-radius: 3px;

	width: 5em;
}

